<h1>Welcome to your Fitness Tracker</h1>


<h2> Take a look at your latest data entries. </h2>
<p> Your most recent Weight: </p>
<%= @weight %>
<br>
<p> Your most recent Steps logged: </p>
<%= @step %>
<br>
<p> Your most recent Calorie intake: </p>
<%= @calories %>
