<h1>Dashboard</h1>
<p>Choose which activity you are tracking.</p>
<%= link_to 'New Exercises', exercises_path %>
<!-- <a href="../exercises">Go to Exercises</a> -->
<%= link_to 'New Foods', foods_path %>
<!-- <a href="../steps">Go to Steps</a> -->
<%= link_to 'New Steps', steps_path %>

<%= link_to 'New Weight', weights_path %>
