<h1>Editing Calorie</h1>

<%= render 'form' %>

<%= link_to '<button type="button">Show</button>' .html_safe, @calorie %> |
<%= link_to '<button type="button">Back</button>' .html_safe, calories_path %>
