<h1>Health Tracker</h1>
<p><%= link_to 'Look at daily weight.', weights_path %></p>
<p><%= link_to 'Look at your step count.', steps_takens_path %></p>
<p><%= link_to 'Look at your daily exercises.', exercises_performed_path %></p>
