



<h1>Health Tracker Home Page</h1>
<p>Your health snap shot:</p>




<%= link_to 'Steps', steps_path %>
<%= link_to 'Weights', weights_path %>
<%= link_to 'Calories', calories_path %>
<%= link_to 'Exercises', exercises_path %>
