<style>
h1 {color: red}
</style>

<h1>Welcome! Make my day.</h1>


<div>
<p><%= link_to 'Calories', calories_path %></p>
<p><%= link_to 'Exercises', exercises_path %></p>
<p><%= link_to 'Steps', steps_path %></p>
<p><%= link_to 'Weight', weights_path %></p>
</div>
