<h1>Editing Weight</h1>

<%= render 'form' %>

<%= link_to '<button type="button">Show</button>' .html_safe, @weight %> |
<%= link_to '<button type="button">Back</button>' .html_safe, weights_path %>
