// Place all the styles related to the Exercises controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.ecount {
  padding:0 15px 0 15px;
  text-align: center;
}

.eheader {
  text-decoration: underline;
}

#burn {
  padding:0 15px 0 15px;
}
