// Place all the styles related to the StepCounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.scount {
  padding:0 15px 0 15px;
}

.scheader {
  text-decoration: underline;
}
