<style>
body {background-color: #EEFFFF}
body {text-align: center}
h1 {color: red}
</style>


<h1>Editing Exercise</h1>

<%= render 'form' %>

<%= link_to 'Show', @exercise %> |
<%= link_to 'Back', exercises_path %>
<div>
<p><%= link_to 'Home', :root %></p>
</div>
